<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta property="og:title" content="Crlocator">
    <meta property="og:site_name" content="Crlocator">
    <meta property="og:url" content="//geo.sibte.ml">
    <meta property="og:description" content="Crystal language based IP locator">
    <meta property="article:author" content="//www.facebook.com/zohaib.sibte.hassan">
    <title>Crlocator</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.0/dist/mini-default.min.css">
</head>

<body>
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" style="text-align: center">
                {{#error}}
                    <h1>Oooppssss something went wrong!!!</h1>
                    <span>{{error}}</span>
                {{/error}}

                {{#city}}
                    <h2> 
                        Hey earthling!!!
                        <small>Seems like you are visiting us from</small>
                    </h2>

                    <h1>
                        <mark class="tertiary">
                            {{city}}, {{country}}
                        </mark>
                    </h1>
                {{/city}}

                {{#ip}}
                    <h4><mark>{{ip}}</mark> </h4>
                {{/ip}}
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2>API usage<h2>
                <p>All API endpoints live on <code>/json</code> end-point</p>
                <p>
                    You can do:
                    <ul>
                        <li>
                            <code>http://{{host_with_port}}/json</code> to auto-detect IP and return geolocation JSON of incoming request
                        </li>
                        <li>
                            <code>http://{{host_with_port}}/json/[ip]</code> to return geolocation JSON of given IP
                        </li>
                    </ul>
                </p>
                <p>
                    Both of above requests can use <code>callback</code> query parameter to use above APIs as JSONP.
                    So <code>http://{{host_with_port}}/json/[ip]?callback=[method]</code> will invoke given method for given IP address.
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" style="text-align: center">
                <span>Powered by <a href="https://www.maxmind.com/en/open-source-data-and-api-for-ip-geolocation">MaxMind Geo IP</a> <span>
            </div>
        </div>
    </div>
</body>

</html>